<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
    <form action="/uploadFile" method="POST" enctype="multipart/form-data">
      <input type="text" name="username" value="{{ .UserName }}" readonly="readonly" hidden="hidden" />
        <img src="../resource/{{ .PicName }}" height="100" width="100">
      <p><input type="file" name="image" accept="image/gif, image/png" /></p>
      <p><input type="submit" name="change_btn" value="Change"></p>
    </form>
    <form action="/signOut" method="post">
        <p><input type="submit" name="sign_out" value="SignOut"></p>
    </form>
    <form action="/updateNickName" method="POST">
      <p>Username:<input type="text" name="username" value="{{ .UserName }}" readonly="readonly" /></p>
      <p>Nickname:<input type="text" name="nickname" value="{{ .NickName }}" maxlength="30"/> <input type="submit" name="change_btn" value="Change"></p>
    </form>
</body>
</html>